{{!< layout}}
<div class="aui-group">
<form class="aui top-label" id="config">
   <div class="field-group">
      <label for="host">Confluence base url</label>
      <input class="text long-field" type="text" name="host" id="host" value="{{host}}" />
      <div class="description">Home page of your Confluence instance</div>
   </div>
   <div class="field-group">
      <label for="userr">Confluence username</label>
      <input class="text medium-field" type="text" name="user" id="user" value="{{user}}" />
      <div class="description">The user name to use when fetching page details</div>
   </div>
   <div class="field-group">
      <label for="host">Password</label>
      <input class="text medium-field" type="password" name="pass" id="pass" />
      <div class="description">Password for the above user - will only be changed if you specify a new one</div>
   </div>
   <div class="buttons-container">
      <div class="buttons">
         <button class="button submit" id="save" disabled aria-disabled="true">Save</button>
      </div>
   </div>
	<small id="messages"></small>
</form>
</div>

<script type="text/javascript">
  var displayMessage = function(txt,icon) {
    $("#messages").html('<span class="aui-icon aui-icon-small aui-iconfont-'+icon+'"></span> '+txt);
  };

  var enableButton = function() {
    $('#save').attr('aria-disabled', 'false');
    $('#save').removeAttr('disabled');
  };

  var disableButton = function() {
    $('#save').attr('aria-disabled', 'true');
    $('#save').attr('disabled');
  };

  $(document).ready(function(){
  	$('form#config input').change(function(event) {
  		enableButton();
  	});

	$('form#config').submit(function(event) {
		disableButton();
		event.preventDefault(); //prevent auto submission

	    HipChat.auth.withToken (function(err, token) {
	      if (err) {
	        // error
	      }
	      else {
	      	var settings = {
		        host: $("#host").val(),
		        user: $("#user").val(),
		        pass: $("#pass").val(),
	      	};
	        //Include this token in a REST call to the add-on backend
	        $.ajax({
	          type: "POST",
	          url: "configure",
	          headers: { 'authorization': 'JWT ' + token },
	          data: settings,
	          // dataType: 'json',
	          success: function(response) {
	            console.log('Response: '+response);
	            displayMessage('Saved!','approve')
	          }
	        });
	      }
	    });

	  });
	});

</script>