<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>

    <!-- Atlassian User Interface CSS -->
    <link href="//aui-cdn.atlassian.com/aui-hipchat/0.1.2/css/aui-hipchat.min.css" rel="stylesheet" type="text/css" media="all"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Atlassian User Interface JS - this must be after jquery -->
    <script src="//aui-cdn.atlassian.com/aui-hipchat/0.1.2/js/aui-hipchat.min.js"></script>

    <!--The HipChat Javascript API -->
    <script src="//www.hipchat.com/atlassian-connect/all.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>